@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
body{
  background: #000;
}
.movies{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.movies li {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  background: #272727;
}
.movies li img {
  max-width: 300px;
  border-radius: 12px;
}
.movies li h2 {
  color: #fff;
  font-size: 1.8em;
  padding: 15px 10px 0;
  margin-top: auto;
  font-family: "Oswald", sans-serif;
}
.Header h2{
  color: #fff;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.Header p{
  color: #fff;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
.search-wrapper {
  padding: 15px 10px 0;
  display:flexbox;
  flex-direction: column;
  gap: .25rem;
  color: white;
  font-family: "Oswald", sans-serif;
}
input{
font-size: 1rem;  
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #272727;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Oswald", sans-serif;
}
